body{
	background-color: rgba(100,0,255,0.3);
}
.container{
	border: 1px solid #333;
	width: 1310px;
	padding:10px;
}
.clear{ clear: both }
#div1{
	border: 1px solid #333;
	width:514px;
	height: 590px;
	padding: 10px;
	text-align: center;
	background: white;
	float: left;
	margin: 10px auto;
	border-radius: 10px;
}
#div2{
	border: 1px solid #333;
	width: 740px;
	height: 590px;
	padding: 10px;
	background: white;
	float: right;
	text-align:center;
	margin: 10px auto;
	border-radius:10px;
}
#a1{	
	margin: 15px;
	width:40%;
	height:40%;
	padding: 10px;
	background: rgba(255,0,0,0.4);
}
#b1{
	margin: 15px;
	height:45%;
	padding: 10px;
	background:  rgba(255,0,0,0.4);
}
#a2{
	width:30%;
	height: 536.5px;
	margin: 10px 0px 10px 10px;
	padding:10px;
	background: rgba(255,200,0,0.5);
	float:left;
}
#b2{
	width:60%;
	height:42%;
	margin:10px;
	padding:10px;
	background:rgba(255,200,0,0.5);
	float:right;
}
#c2{
	width:60%;
	height:42%;
	margin:10px;
	padding:10px;
	background: rgba(255,200,0,0.5);
	float:right;
}