* {
	margin: 0;
	padding: 0;
}
body{
	background: rgba(180,250,40,0.4);
}
.main  > ul{
	background: rgba(0,0,0,0.7);
	text-align: center;
	list-style-type: none;
	overflow: auto;
	width:100%;
}
.main > ul > li{
	float: left;
	color: #f1f1f1;
	width:120px;
	line-height:40px;
	sposition: relative;
}
.main > ul > li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: block;
}
.main > ul > li a:hover{
	background: #f1f1f1;
	color: black;
}

.main > ul > li .sub{
	display: none;
	position: absolute;
	list-style: none;
}
.main > ul > li .sub li{
	width: 250px;
	background:rgba(0,0,0,0.7);
	color: white;
}
.main > ul > li:hover .sub{ display: block;}
.main > ul > li > ul > li{
	position: relative;
}
.main > ul > li > ul .sub1{
	position: absolute;
	left: 250px;
	top: 0;
	list-style: none;
	display: none;
}
.main > ul > li >ul > li:hover .sub1{display: block;}
